html { 
  background: url(giantpoplars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor:url(Picture1.png), auto;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
ul {
	height: 70px;
	display: inline;
	background-color: black;
}
li {
	color: white;
	float: left;
	margin-right: 50px;
	position: relative;
	top: 15px;
}
li a{
	color: white;
}
#it {
	margin-right: 850px;
	margin-left: 300px;
}
#nav {
	height: 60px;
	background-color: black;
	opacity: .8;
}
