* {
	margin: 0;
	padding: 0;
}
html {
	font-family: sans-serif;
}
header {
	background-color: #fff;
	border-bottom: solid #336600 .2em;
}
header h1 {
	font-family: cooper, comic sans ms;
}
header h1 a {
	text-decoration: none;
	color: #336600;
	position: relative;
	top: 45px;
}
nav {
	text-align: center;
	height: 100px;
}
.menu {
	position: relative;
	top: 60px;
}
.menu a {
	padding: 10px;
	text-decoration: none;
	color: #555;
}
.no2 {
	background-color: #fff;
}
.gray {
	background-color: #c0c0c0;
}
.center {
	text-align: center;
}
section img {
	width: 100%;
}
section h3 {
	color: #336600;
	font-family: cooper, comic sans ms;
}
section p {
	padding: 10px;
	text-align: justify;
}
footer {
	background-color: #336600;
	height: 275px;
	border-top: solid #c0c0c0 .2em;
}
.footer {
	color: #fff;
	text-align: center;
	position: relative;
	top: 60px;
}
