* {
	margin: 0;
	padding: 0;
}
html {
	font-family: sans-serif;
}
header {
	background-color: #336600;
	border-bottom: solid #336600 .2em;
}
header img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 25px;
	border-radius: 25px;
}
header h1 {
	font-family: cooper, comic sans ms;
}
header h1 {
	text-decoration: none;
	color: white;
	position: relative;
	top: 45px;
}
nav {
	text-align: center;
	height: 100px;
}
.menu {
	position: relative;
	top: 60px;
	border-top: solid gold .07em;
	padding-top: 4px;
}
.menu a {
	padding: 10px;
	text-decoration: none;
	color: #fff;
	/* position: relative; */
	/* top: 9px; */
}
.no2 {
	background-color: transparent !important;
}
.gray {
	background-color: #c0c0c0;
}
.center {
	text-align: center;
}
ul li {
	margin-left: 50px;
	margin-right: 10px;
}
section {
	background-image: url('ep_naturalwhite.png');
}
section br {
	display: none;
}
section img {
	width: 100%;
}
hr {
	display: none;
	margin: 0 auto;
	/*width: 250px;*/
	width: 90%;
	border: solid gold .1em;
}
section h3, section h4 {
	text-align: center;
	color: #336600;
	font-family: cooper, comic sans ms;
}
section p {
	padding: 10px;
	text-align: justify;
}
footer {
	background-color: #336600;
	height: 275px;
	border-top: solid #c0c0c0 .2em;
}
.footer {
	color: #fff;
	text-align: center;
	position: relative;
	top: 60px;
}
@media screen and (min-width: 338px) {
	.menu a {
		position: relative;
		top: 9px;
	}
}
@media screen and (min-width: 800px) {
	html {
		background-color: #336600;
	}
	section br {
		display: block;
	}
	section img {
		width: 800px;
		display: block;
		margin: 0 auto;
	}
	section p {
		width: 600px;
		text-align: center;
		display: block;
		margin: 0 auto;
		color: #336600;
	}
	section {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}
	b {
		display: block;
		text-align: center;
		color: #336600;
	}
	ul li {
		text-align: center;
		list-style-type: none;
		color: #336600;
	}
	.no2 {
		background-color: #f5f5f5;
	}
	section h3, section h4 {
		color: #336600;
	}
}
